@import 'https://fonts.googleapis.com/css?family=Open+Sans:600';

* {
    font-family: 'Open Sans', sans-serif;
}

.d-hidden {
    display: none;
}

div.d-vertical-layout {
    /* border: 1px dotted orange; */
}

div.d-vertical-layout > * {
    display: block;
}

div.d-horizontal-layout {
    /* border: 1px dotted blue; */
}

.d-tab {
    font-size: 14px;
    font-weight: bold;
    border: 0;
    padding: 5px 10px;
    margin: 1px;
    cursor: pointer;
    outline: none;
}

.d-tab-active {
    background-color: #ffc107;
}
