@import 'https://fonts.googleapis.com/css?family=Open+Sans:600';

/* --- General styles --- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.d-hidden {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

/* --- Horizontal split styles --- */

.d-horizontal-split {
    overflow: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.d-horizontal-split-splitter {
    background-color: darkgray;
    width: 3px;
    cursor: col-resize;
}

.d-horizontal-split-side {
    height: 100%;
    overflow: hidden;
}

.d-horizontal-split-side-left {
    width: 50%;
}

.d-horizontal-split-side-right {
}

/* --- Vertical layout styles --- */


div.d-vertical-layout {
    /* border: 1px dotted orange; */
}

div.d-vertical-layout > * {
    display: block;
}

/* --- Horizontal layout styles --- */

div.d-horizontal-layout {
    /* border: 1px dotted blue; */
}

/* --- Tabs layout styles --- */

.d-tab {
    font-size: 14px;
    font-weight: bold;
    border: 0;
    padding: 5px 10px;
    margin: 1px;
    cursor: pointer;
    outline: none;
}

.d-tab-active {
    background-color: #ffc107;
}
