.d-hidden {
    display: none;
}

div.d-vertical-layout {
    /* border: 1px dotted orange; */
}

div.d-vertical-layout > * {
    display: block;
}

div.d-horizontal-layout {
    /* border: 1px dotted blue; */
}

.d-tab {
    border: 1px solid gray;
    padding: 2px 5px;
    margin: 0 1px;
    cursor: pointer;
}

.d-tab-active {
    font-weight: bold;
}
