@import 'https://fonts.googleapis.com/css?family=Open+Sans:600';

/* --- General styles --- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.d-hidden {
    display: none;
}

/* --- Vertical split styles --- */

.d-split-vertical {
    overflow: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.d-split-vertical-handle {
    background-color: darkgray;
    width: 3px;
    cursor: col-resize;
}

.d-split-vertical-side {
    height: 100%;
    overflow: auto;
}

.d-split-vertical-side-left {
    width: 50%;
}

.d-split-vertical-side-right {
}

/* --- Tabs layout styles --- */

.d-tab {
    font-size: 14px;
    font-weight: bold;
    border: 0;
    padding: 5px 10px;
    margin: 1px;
    cursor: pointer;
    outline: none;
}

.d-tab-active {
    background-color: #ffc107;
}
